*{
	margin: 0;
	padding:0;
	box-sizing: border-box; 
}

:root{
	--black:#000000
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body{
	background-color: var(--black);
}

.nav{
	display: flex;
	justify-content: space-between;
	height: 4rem;
}

.container{
	width: 80%;
  	margin: 0 auto;
}