---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Tentang Saya"
	description="Semutdev dibuat oleh jujun jamaludin"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Assalamualaikum kenal nama saya jujun jamaludin
	</p>
</Layout>
