---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---
<header class="bg-white shadow-md sticky top-0 z-50">
  <div class="container mx-auto px-4 py-4 flex items-center justify-between">
    <!-- Logo -->
	<a href="/"
		><img
		width="150"
		src="/img/logo-semutdev.png"
		alt="Logo semutdev"
		/></a>
    <!-- <div class="text-2xl font-bold text-blue-600">{SITE_TITLE}</div> -->

    <!-- Hamburger button (Mobile) -->
    <button id="menu-toggle" class="md:hidden text-gray-700 focus:outline-none">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- Navigation Links -->
    <nav id="menu" class="hidden md:flex space-x-6">
      <a href="/" class="text-gray-700 hover:text-blue-600">Home</a>
    </nav>
  </div>

  <!-- Mobile Menu (Dropdown) -->
  <div id="mobile-menu" class="md:hidden hidden px-4 pb-4">
    <nav class="flex flex-col space-y-2">
		<a href="/" class="text-gray-700 hover:text-blue-600">Home</a>
    </nav>
  </div>
</header>
<header>

<script type="module">
const menuToggle = document.getElementById('menu-toggle');
const mobileMenu = document.getElementById('mobile-menu');

menuToggle.addEventListener('click', () => {
	mobileMenu.classList.toggle('hidden');
});
</script>